@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-controller="Home" asp-action="Index">
    <div class="mb-3 row">
        <label for="inputX" class="col-sm-2 col-form-label">X</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputX" name="x">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputY" class="col-sm-2 col-form-label">Y</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputY" name="y">
        </div>
    </div>
    <button class="btn btn-outline-secondary btn-block" type="submit">Calc</button>
</form>
